---
import Card from "@/components/Card.astro";
import { exercises } from "@cv";
---

<section>
  <ul>
    {
      exercises.map((exercise) => {
        return (
          <li>
            <Card href=`exercises/${exercise.id}` title={exercise.title} body={exercise.body} />
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  section {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;

    & ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
  }

  @media (max-width: 700px) {
    section {
      padding: 2rem 1rem;

      & ul {
        display: flex;
        flex-direction: column;
      }  
    }
  }
</style>
